In [1]:
import pandas as pd
from sqlalchemy import create_engine,text

In [2]:
password = '322Ansh%40'
user = 'postgres'
host = 'localhost'
database = 'social_book'
port = '5432'

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:322Ansh%40@localhost:5432/social_book')

In [4]:
try:
    connection = engine.connect()
    print("Connection successful!")
    connection.close()
except Exception as e:
    print("Unable to connect to the database:", str(e))

Connection successful!

In [5]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/social_book)

In [6]:
ql_query2 = f"""
                            SELECT * from "public"."register_customuser"
                        """
db=pd.read_sql_query(con=engine.connect(), 
                                  sql=text(ql_query2))

C:\Users\hp\AppData\Local\Temp\ipykernel_11776\693249136.py:4: UserWarning: Pandas requires version '2022.1' or newer of 'tzdata' (version '2021.1' currently installed).
  db=pd.read_sql_query(con=engine.connect(),

In [7]:
db

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,age,dob,visibility
0,3,pbkdf2_sha256$600000$fN4Xt8xLzrbRIOkTJt5Bbj$bd...,2023-07-06 05:16:59.342517+00:00,True,anshmahajan05,,,anshmahajan05102002@gmail.com,True,True,2023-07-05 10:18:49.889842+00:00,,Ansh Mahajan,21,2002,True
1,8,pbkdf2_sha256$600000$zT546mu4AmYMlXMv1KNTtN$iF...,2023-07-06 06:15:34.523902+00:00,False,mahajan,,,mahajan@gmail.com,False,True,2023-07-06 06:14:51.457040+00:00,M,Mahajan,21,2002,True
2,9,pbkdf2_sha256$600000$wqbkhbYjKEwsBktj00OeRs$E2...,2023-07-06 06:32:43.575302+00:00,False,aditya,,,aditya@gmail.com,False,True,2023-07-06 06:32:26.871520+00:00,M,Aditya,48,1975,True

In [8]:
type(db)

pandas.core.frame.DataFrame

In [9]:
db.shape

(3, 16)

In [10]:
result_df = db[db['is_superuser'] == True]
result_df

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,age,dob,visibility
0,3,pbkdf2_sha256$600000$fN4Xt8xLzrbRIOkTJt5Bbj$bd...,2023-07-06 05:16:59.342517+00:00,True,anshmahajan05,,,anshmahajan05102002@gmail.com,True,True,2023-07-05 10:18:49.889842+00:00,,Ansh Mahajan,21,2002,True

In [11]:
filtered_data = db[(db['is_superuser'] == True) & (db['is_active'] == False)]
filtered_data

Empty DataFrame
Columns: [id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, gender, fullname, age, dob, visibility]
Index: []