In [1]:
import pandas as pd
from sqlalchemy import create_engine,text

In [2]:
password = '322Ansh%40'
user = 'postgres'
host = 'localhost'
database = 'social_book'
port = '5432'

In [14]:
engine = create_engine('postgresql+psycopg2://postgres:322Ansh%40@localhost:5432/social_book')

In [15]:
try:
    connection = engine.connect()
    print("Connection successful!")
    connection.close()
except Exception as e:
    print("Unable to connect to the database:", str(e))

Connection successful!

In [16]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/social_book)

In [17]:
ql_query2 = f"""
                            SELECT * from "public"."register_customuser"
                        """
db=pd.read_sql_query(con=engine.connect(), 
                                  sql=text(ql_query2))

C:\Users\hp\AppData\Local\Temp\ipykernel_21296\693249136.py:4: UserWarning: Pandas requires version '2022.1' or newer of 'tzdata' (version '2021.1' currently installed).
  db=pd.read_sql_query(con=engine.connect(),

In [18]:
db

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,age,dob,visibility
0,3,pbkdf2_sha256$600000$fN4Xt8xLzrbRIOkTJt5Bbj$bd...,2023-07-05 10:19:14.372463+00:00,True,anshmahajan05,,,anshmahajan05102002@gmail.com,True,True,2023-07-05 10:18:49.889842+00:00,,Ansh Mahajan,21,2002,True
1,4,322,NaT,False,sidd05,,,sidd@gmail.com,False,True,2023-07-05 10:21:03.562908+00:00,M,Siddharth Varangaokar,21,2002,True
2,5,322,NaT,False,ansh007,,,ansh007@gmail.com,False,True,2023-07-05 10:25:19.999214+00:00,M,Ansh,21,2002,True

In [19]:
type(db)

pandas.core.frame.DataFrame

In [20]:
db.shape

(3, 16)